.card {
    max-width: 600px;
    margin: 20px auto;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.pi-file {
    color: #007bff;
}

.badge-primary {
    background-color: #007bff;
}

.list-group-item  {
    cursor: pointer;
}