.container {
    max-width: 600px;
}

.card-header {
    background-color: #007bff;
    color: white;
}

.p-fileupload-content {
    border: none;
}

.p-fileupload-buttonbar {
    display: flex;
    justify-content: center;
}

.line-item {
    color: blue; 
    cursor: pointer; 
    list-style-type: none;
}


.unorder-list {
    padding-left: 0px;
    margin-bottom: 0px;
}