<div class="rounded-0 d-flex justify-content-center">
    <p-fileUpload name="file" url="http://localhost:3000/upload/"  (onUpload)="onUpload($event)" 
        [multiple]="true" accept=".pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.txt" maxFileSize="10000000">
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length" class="unorder-list">
                <li *ngFor="let doc of uploadedFiles" [routerLink]="['/dashboard/docQna', doc.url]" [ngClass]="'line-item'">
                    {{ doc.file.name }} - {{ doc.file.size }} bytes
                </li>
            </ul>
        </ng-template>
    </p-fileUpload>
</div>
